.navbar {
    background-color: #ffffff;
}

.container {
    display: flex;
    color: #000000;
    opacity: .65;
    margin-top: 100px;
}
.row{
    color: #000000;
    /* background-color: #000000;  */
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

a.linkCss {
    text-decoration: none;
}

.body{
    background-image: url("images/homebg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #000000; 
}

.card {
    box-shadow: 10px 10px rgba(255, 255, 255, 0.336);
    margin-top: 20px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.customMargin {
    margin: 20px;
}